* {
  margin: 0;
}

.header {
  display: flex;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}
.header ul {
  width: 100%;
}

.header ul a {
  text-decoration: none;
  color: #fff;
}

.header ul a li {
  float: left;
  margin-left: 10px;
  list-style: none;
  border: 1px white solid;
  padding: 1%;
}

.blog-body {
  width: 80%;
  padding: 2rem;
  line-height: 1.6;
}
